@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  font-family: var(--font-inter);
}

html {
  font-size: 16px;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

main,
section,
div {
  font-size: inherit;
}

/* Hide scrollbar while keeping scroll functionality */
.scroll-smooth::-webkit-scrollbar {
  display: none;
}

.scroll-smooth {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
